---
import PageLayout from "../../layouts/Page.astro"
import RegistrationPage from "./index"
const { SUPABASE_KEY, SUPABASE_URL } = import.meta.env
---

<PageLayout title="Регистрация" description="Чтобы быть в курсе событий зарегистрируйтесь.">
  <main>
    <RegistrationPage client:load supabaseUrl={ SUPABASE_URL } supabaseKey={ SUPABASE_KEY } />
  </main>
</PageLayout>
