---
import PageLayout from "../layouts/Page.astro"
---

<PageLayout title="404 not found">
  <main>
    <div class="wrap">
      <h2 class="text-4xl font-bold">404 not found</h2>
    </div>
  </main>
</PageLayout>
