---
import PageLayout from "../layouts/Page.astro"
---

<PageLayout title="500 server error">
  <main>
    <div class="wrap">
      <h2 class="text-4xl font-bold">500 server error</h2>
    </div>
  </main>
</PageLayout>
