---
import { CfpPage, Footer, Header } from "../components";
import Layout from "../layouts/Dumb.astro";
---

<Layout title="Call for Papper" description="Если у вас есть какая-то идея для доклада или уже есть что рассказать, то обязательно приходите все обсудим.">
  <Header client:load />
  
  <main>
    <CfpPage client:load />
  </main>

  <Footer client:idle />
</Layout>
