---
import { CfpPage, Footer, Header } from "../components";
import Layout from "../layouts/Dumb.astro";
---

<Layout title="Call for Papper">
  <Header client:load />
  
  <main>
    <CfpPage client:load />
  </main>

  <Footer client:idle />
</Layout>
