---
import { Footer,Header } from "../components";
import { FeedbackPage } from "../components/pages/feedback.page";
import Layout from "../layouts/Dumb.astro";
---

<Layout title="Оставьте фидбек" description="Оставьте нам свой фидбек, чтобы мы стали лучше :)">
  <Header client:load />

  <main>
    <FeedbackPage client:load />
  </main>

  <Footer client:idle />
</Layout>
