---
import { Footer, Header } from "../components"
import Layout from "../layouts/Dumb.astro"
import MainPage from "./main-page";
const { SUPABASE_KEY, SUPABASE_URL } = import.meta.env
---

<Layout title="Главная">
  <div class="flex flex-col gap-8 text-lg sm:text-base pb-[68px] lg:pb-0">
    <Header client:load supabaseKey={ SUPABASE_KEY } supabaseUrl={ SUPABASE_URL } />

    <MainPage client:load />

    <Footer client:idle />
  </div>
</Layout>
