@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: 107 70 255;
  }

  * {
    @apply outline-none focus:ring-4 ring-primary
  }
  
  a {
    @apply underline hover:no-underline
  }

  html {
    font-family: system-ui, sans-serif;
    @apply bg-[#f6f6f6]
  }

  code {
    font-family: "Cascadia Code", Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
}

@layer components {
  .button {
    @apply text-center text-white bg-black px-4 py-2 rounded hover:bg-black/80
  }

  .input {
    @apply block w-full px-3 py-2 text-[1rem] leading-4 rounded-md border border-gray-300
  }
  
  .label {
    @apply block text-left
  }

  .form-field-container {
    @apply flex flex-col gap-1
  }

  .alert {
    @apply fixed top-0 left-1/2 -translate-x-1/2 text-center py-2 px-4 rounded mt-4 max-w-xs
  }

  .alert[data-alert-type="success"] {
    @apply bg-green-400 text-black
  }

  .alert[data-alert-type="error"] {
    @apply bg-red-500 text-white
  }

  .alert[data-alert-type="warn"] {
    @apply bg-yellow-400 text-black
  }

  .formatted-text p {
    @apply my-2
  }

  .formatted-text ul {
    @apply pl-4 list-disc
  }
}

.wrap {
  @apply max-w-5xl mx-auto px-5
}

[data-hidden="true"] {
  @apply hidden
}

[data-hidden="false"] {
  @apply block
}
