---
import "../global.css";

export interface Props {
  title: string
  keywords?: string[]
  description?: string
}

const {
  title,
  keywords = [ "rxjs", "conference" ],
  description = "Онлайн конференция по RxJS"
  } = Astro.props;
---

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/rxjs-conf-logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{ title } • RxJS Conf</title>

    <meta name="keywords" content={ keywords.join(",") }>
    <meta name="description" content={ description }>
  </head>
  <body>
    <slot />
    <div id="dialog-container"></div>
  </body>
</html>
